chapter_02/__pycache__/
chapter_03/__pycache__/
chapter_04/__pycache__/
chapter_05/__pycache__/
chapter_06/__pycache__/
chapter_07/__pycache__/
chapter_08/__pycache__/
chapter_09/__pycache__/
appendix_a/__pycache__/
appendix_c/__pycache__/
.vscode/